In [2]:
x = input()
y = input()
z = x + y
print(z)

 5
 6

56

In [4]:
val = input("Enter your value: ")
print(val)

Enter your value:  123

123

In [10]:
name = input('What is your name?\n')
print(name)

What is your name?
 Shein

Shein

In [12]:
# Program to check input
# type in Python
num = input("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)
# Printing type of input value
print("type of number", type(num))
print("type of name", type(name1))

Enter number : 123

123

Enter name :  Shein

Shein
type of number <class 'str'>
type of name <class 'str'>

In [14]:
# Note: input() function takes all the input as a string only
# There are various funtions that are used to take as desired input few of them are: int(input()) and float(input())
num = int(input("Enter a number"))
print(num, " ", type(num))
floatNum = float(input("Enter a decimal number: "))
print(floatNum, " ", type(floatNum))

Enter a number 29

29   <class 'int'>

Enter a decimal number:  100.4

100.4   <class 'float'>

In [16]:
IDnumber = input("Please enter your ID number: ")
print("Welcome, " + IDnumber + "!")

Please enter your ID number:  1234

Welcome, 1234!

In [18]:
userInput = input()
print(userInput)

 Print this

Print this

In [20]:
number = int(input("Type an integer: "))
addition = number + 7
print(addition)

Type an integer:  5

12

In [22]:
number = float(input("Type a number: "))
addition = number + 7
print(addition)

Type a number:  8

15.0

In [24]:
numberList = list(input("Type some data: "))
print(numberList)

Type some data:  76859903033

['7', '6', '8', '5', '9', '9', '0', '3', '0', '3', '3']

In [26]:
numberTuple = tuple(input("Type some data: "))
print(numberTuple)

Type some data:  5670245

('5', '6', '7', '0', '2', '4', '5')

In [28]:
stringVariable = input("Enter some words with space: ")
words = {word: len(word) for word in stringVariable}
print(words)

Enter some words with space:  Micah Annaela

{'M': 1, 'i': 1, 'c': 1, 'a': 1, 'h': 1, ' ': 1, 'A': 1, 'n': 1, 'e': 1, 'l': 1}

In [34]:
stringVariable = input("Enter some words with space: ")
words = {word: len(word) for word in stringVariable}
print(words)

Enter some words with space:  John Doe

{'J': 1, 'o': 1, 'h': 1, 'n': 1, ' ': 1, 'D': 1, 'e': 1}