# Builtin Functions Exercises #
Sum, max, min, len, list, enumerate...

In [1]:
A= {1, 2, 3, 4, 5, 6, 7, 8, 9}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
type(A)

set

In [3]:
sum(A) 
# sum of all elements in the set

45

In [5]:
max(A)

9

In [6]:
min(A)

1

In [7]:
len(A)

9

In [10]:
list(enumerate(A)) # enumerate() returns an iterator of tuples
# the first element of the tuple is the index and the second is the value
# the output is a list of tuples

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [11]:
D= sorted(A,reverse=True) 
D
# sorted() returns a sorted list of the elements in the set
# reverse=True sorts the elements in descending order
# sorted() does not modify the original set
# sorted() returns a new list of the elements in the set
# sorted() can also be used to sort a list of tuples
# sorted() can also be used to sort a list of lists
# sorted() can also be used to sort a list of strings
# sorted() can also be used to sort a list of dictionaries
# sorted() can also be used to sort a list of sets
# sorted() can also be used to sort a list of frozensets

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
sorted(D)
#

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary #  
- Dictionary is a mutable data type in Python. 
- A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed 
  in curly braces {}. 
- Keys must be unique in a dictionary, duplicate values are allowed

## Create a dictionary ##

In [14]:
mydict = dict() # empty dictionary 
mydict

{}

In [15]:
type(mydict)

dict

In [17]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys 
mydict
# dictionary with integer keys and string values

{1: 'one', 2: 'two', 3: 'three'}

In [18]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict
# dictionary with integer keys and string values

{1: 'one', 2: 'two', 3: 'three'}

In [19]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}
mydict
# dictionary with string keys and string values

{'A': 'one', 'B': 'two', 'C': 'three'}

In [20]:
mydict = {1:'one' , 'A':'two' , 3:'three'}
mydict
# dictionary with mixed keys and string values

{1: 'one', 'A': 'two', 3: 'three'}

In [21]:
mydict.keys()
# returns a view object that displays a list of all the keys in the dictionary

dict_keys([1, 'A', 3])

In [22]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [23]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [24]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict
# dictionary with list as value
# dictionary with integer keys and list values
# dictionary with string keys and list values
# dictionary with mixed keys and list values

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [25]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],  'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [26]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20},  'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) 
# Create a dictionary from a sequence of keys 
mydict3
#  dict.fromkeys() creates a new dictionary with the specified keys and assigns them a default value of None

{'a': None, 'b': None, 'c': None, 'd': None}

In [29]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value) 
# Create a dictionary from a sequence of keys and assign them a default value
mydict3

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value)
# Create a dictionary from a sequence of keys and assign them a default value
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [31]:
value.append(40) 
# Append 40 to the list
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

## Accessing Items in Dictionary ##

In [32]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [33]:
mydict[1]
# Accessing the value of key 1

'one'

In [34]:
mydict.get(1)
# Accessing the value of key 1 using get() method

'one'

In [35]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1
# dictionary with string keys and mixed values

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [40]:
mydict1['Name']
# Accessing the value of key 'Name'

'Asif'

In [39]:
mydict1.get('job')
# Accessing the value of key 'job' using get() method
# get() method returns None if the key is not found
# get() method can also take a default value as a second argument

'Analyst'

## Add, Remove & Change Items ##

In [41]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1
# dictionary with string keys and mixed values

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [45]:
mydict1['DOB'] = 1992  
# Changing Dictionary Items 
# Changing the value of key 'DOB' to 1992
# the value of key 'DOB' is now 1992
mydict1['Address'] = 'Delhi' 
# Adding new key-value pair to the dictionary   
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [47]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1 
# Update the dictionary with another dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [48]:
mydict1['Job'] = 'Analyst' 
# Adding items in the dictionary 
# Adding new key-value pair to the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [57]:
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [58]:
mydict1

{}

In [62]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'Job' :'Analyst'}

In [63]:
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [64]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991}

In [65]:
mydict1.popitem() # A random item is removed

('DOB', 1991)

In [66]:
mydict1

{'Name': 'Asif', 'ID': 74123}

In [67]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Asif'}

In [68]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [69]:
del mydict1 # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

## Copy Dictionary ##

In [78]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Helsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Helsinki'}

In [79]:
mydict1 = mydict 
# Create a new reference "mydict1"
# mydict1 is a reference to the same dictionary object as mydict

In [80]:
id(mydict) , id(mydict1)
# id() function returns the identity of an object
# id() function returns the memory address of the object
# id() function returns the same memory address for both mydict and mydict1

(1776303954816, 1776303954816)

In [82]:
mydict2 = mydict.copy()
# Create a shallow copy of the dictionary

In [83]:
id(mydict2)
# id() function returns a different memory address for mydict2

1776303954112

In [85]:
mydict['Address'] = 'Mumbai'
# Changing the value of key 'Address' in mydict
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [86]:
mydict1
# mydict1 will be also impacted as it is pointing to the same dictionary
# mydict1 is also changed
# mydict1 is a reference to the same dictionary object as mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [87]:
mydict2
# Copy of list won't be impacted due to the changes made in the original list
# mydict2 is a shallow copy of the dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Helsinki'}

## Loop through a Dictionary ##

In [90]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Helsinki' ,'Job': 'Analyst'} 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Helsinki',
 'Job': 'Analyst'}

In [ ]:
for i in mydict1: 
    print(i , ':' , mydict1[i]) 
# Key & value pair
# Loop through the dictionary

Name : Asif
ID : 12345
DOB : 1991
Address : Helsinki
Job : Analyst

In [94]:
for i in mydict1: 
   print(mydict1[i])
# Loop through the dictionary
# Dictionary items

Asif
12345
1991
Helsinki
Analyst

## Dictionary Membership ##

In [95]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [96]:
'Name' in mydict1
# Test if a key is in a dictionary or not

True

In [97]:
'Asif' in mydict1  # Membership test can be only done for keys

False

In [98]:
'ID' in mydict1

True

In [99]:
'Address' in mydict1

False

## All / Any ## 
The all() method returns:  
- True - If all all keys of the dictionary are true 
- False - If any key of the dictionary is false 
- The any() function returns True if any key of the dictionary is True. 
- If not, any() returns False.

In [100]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [101]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

That's the end for today