## LIST

In [1]:
l = []

In [2]:
# LIST LIST LIST
nums = [10,20,30]
nums

[10, 20, 30]

In [3]:
mylist = ["apple", "banana", "cherry"]

In [4]:
mylist

['apple', 'banana', 'cherry']

In [5]:
# Lists are used to store multiple items in a single variable.
# Lists are one of 4 built-in data types in Python used to store collections of data,
# the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
# Lists are created using square brackets
# List items are ordered, changeable, and allow duplicate values.
# List items are indexed, the first item has index [0], the second item has index [1] etc.
# List items can be of any data type.
# A list can contain different data types, including strings, integers, and other lists.
# Lists are mutable, meaning you can change their content without changing their identity.
# Lists are ordered, meaning the items have a defined order, and that order will not change.
# Lists are dynamic, meaning you can add or remove items from them.
# Lists are iterable, meaning you can loop through them.
# Lists are heterogeneous, meaning they can contain items of different data types.

In [6]:
list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

In [7]:
list1[1] # 2nd element

34

type(list1)

In [8]:
nums[0] # 1st element

10

In [9]:
nums[-1] # last element

30

In [10]:
print(nums[1:]) # 2nd to last element
print(nums[:2]) # first 2 elements

[20, 30]
[10, 20]

In [11]:
nums[:1]

[10]

In [12]:
num1 = ['hi', 'hallo']

In [13]:
num1

['hi', 'hallo']

In [14]:
num2 = ['hi', 8.9, 34] # we can assign multiple variable 
num2

['hi', 8.9, 34]

In [15]:
# can we have 2 list together
num3 = [nums, num1]
num3

[[10, 20, 30], ['hi', 'hallo']]

In [16]:
num4 = [nums, num1, num2]

In [17]:
num4

[[10, 20, 30], ['hi', 'hallo'], ['hi', 8.9, 34]]

In [18]:
nums

[10, 20, 30]

In [19]:
num1

['hi', 'hallo']

In [20]:
num2

['hi', 8.9, 34]

In [21]:
nums.append(45) # append 45 to the end of the list
nums

[10, 20, 30, 45]

In [22]:
nums.append(50) # append 50 to the end of the list
nums

[10, 20, 30, 45, 50]

In [24]:
nums.append(60, 70, 80) # append 60, 70, 80 to the end of the list
nums

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
nums.append(60) # append 60 to the end of the list.append(70) # append 70 to the end of the list.append(80) # append 80 to the end of the list
nums.append(70)
nums.append(80)
nums

[10, 20, 30, 45, 45, 50, 60, 70, 80, 60, 70, 80]

In [ ]:
nums.remove(80) # remove 80 from the list

In [ ]:
nums

[10, 20, 30, 45, 45, 50, 60, 70, 60, 70, 80]

In [ ]:
nums.remove (10) # remove 10 from the list

In [ ]:
nums

[20, 30, 45, 45, 50, 60, 70, 60, 70, 80]

In [ ]:
nums.remove(20) # remove 20 from the list
nums

[30, 45, 45, 50, 60, 70, 60, 70, 80]

In [ ]:
nums.remove(30) # remove 30 from the list
nums

[45, 45, 50, 60, 70, 60, 70, 80]

In [ ]:
nums.pop() # if you dont assign the index element then it will consider by default last indexremove the last element from the list
nums

[45, 50, 60, 70]

In [ ]:
nums.pop(0) # remove the first element from the list
nums

[50, 60, 70]

In [ ]:
nums

[50, 60, 70]

In [ ]:
num1

['hi', 'hallo']

In [ ]:
num1.insert(2,'nit') #insert the value as per index values i.e 2nd index we are assigning nit
num1

['hi', 'hallo', 'nit']

In [ ]:
num1.insert(0, 1)#insert the value as per index values i.e 0th index we are assigning 1
num1

[1, 1, 'hi', 'hallo', 'nit']

In [ ]:
num1.insert(2,'Lord') #insert the value as per index values i.e 2nd index we are assigning Lord 
num1

[1, 1, 'Lord', 'hi', 'hallo', 'nit']

In [ ]:
num1.insert(6,'Eastern Cape') #insert the value as per index values i.e 6th index we are assigning Eastern Cape   
num1

[1, 1, 'Lord', 'hi', 'hallo', 'nit', 'Eastern Cape']

In [ ]:
num1.remove(1) # remove the value as per index values i.e 1st index we are assigning 1
num1.remove(1) # remove the value as per index values i.e 1st index we are assigning 1

In [ ]:
num1

['Lord', 'hi', 'hallo', 'nit', 'Eastern Cape']

In [ ]:
del num1[0] # or delete the value as per index values i.e 0th index we are assigning 1
num1

['hi', 'hallo', 'nit', 'Eastern Cape']

In [ ]:
#if you want to delete multiple value 
num2

['hi', 8.9, 34]

In [ ]:
del num2[2:]
num2

['hi', 8.9]

In [ ]:
# if you need to add multiple values 
num2.extend([29,15,20]) # add multiple values to the list
num2

['hi', 8.9, 29, 15, 20]

In [ ]:
num2.extend([100,200,300,340]) # add multiple values to the list
num2

['hi', 8.9, 29, 15, 20, 100, 200, 300, 340]

In [ ]:
num3

[[50, 60, 70], ['hi', 'hallo', 'nit', 'Eastern Cape']]

In [ ]:
num3.extend(['a', 5, 6.7])
num3

[[50, 60, 70], ['hi', 'hallo', 'nit', 'Eastern Cape'], 'a', 5, 6.7]

In [ ]:
num3

[[50, 60, 70], ['hi', 'hallo', 'nit', 'Eastern Cape'], 'a', 5, 6.7]

In [ ]:
nums

[50, 60, 70]

In [ ]:
min(nums) # minimum value in the list, inbuilt function

50

In [ ]:
max(nums) # maximum value in the list, inbuilt function

70

In [ ]:
num1

['hi', 'hallo', 'nit', 'Eastern Cape']

In [ ]:
min(num1) # minimum value in the list, inbuilt function

'Eastern Cape'

In [ ]:
sum(nums) # sum of all values in the list, inbuilt function

180

In [ ]:
nums.sort() # sort the list in ascending order

In [ ]:
nums

[50, 60, 70]

In [ ]:
l = [1,2,3]
l

[1, 2, 3]

In [ ]:
l[0] = 100 # change the first element to 100
l

[100, 2, 3]