# Dictionary data structure #

Recap on set

In [1]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [2]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [3]:
A.difference(B) # A - B

{1, 2, 3}

In [4]:
A.symmetric_difference(B) # A ^ B 
# This gives the elements that are in A or B but not in both, that is not common to both.

{1, 2, 3, 6, 7, 8}

In [6]:
s3 = {'a', 'b', 'm', 'z'}
type(s3)

set

In [7]:
s3

{'a', 'b', 'm', 'z'}

In [10]:
s3.remove('x') # removes 'x' from s3
# If 'x' is not in s3, it raises a KeyError
# This is the same as s3.discard('x') but discard does not raise an error if 'x' is not in s3

KeyError: 'x'

In [9]:
s3.discard('x') # removes 'x' from s3
# If 'x' is not in s3, it does nothing and does not raise an error
# This is useful when you are not sure if the element is in the set or not.
# It is also useful when you want to remove an element from a set without raising an error if the element is not in the set.

In [11]:
s3.discard('z')
s3

{'a', 'b', 'm'}

### Superset, subset and disjoint sets ###

In [13]:
a9 = {1,2,3,4,5,6,7,8,9}
b9 = {3,4,5,6,7,8}
c9 = {10,20,30,40}

In [ ]:
b9.issubset(a9) # Is b9 a subset of a9?

True

In [15]:
a9.issuperset(b9) # Is a9 a superset of b9?

True

In [16]:
c9.issubset(b9) # Is c9 a subset of b9?

False

In [17]:
c9.isdisjoint(b9) # Are c9 and b9 disjoint sets? (no common elements)

True

In [18]:
a8 = {1,2,3,4,5,6}
b8 = {7,8,9}
c8 = {10,20,30,40}

In [19]:
a8.issuperset(b8) # Is a8 a superset of b8?

False

In [20]:
b8.issubset(a8) # Is b8 a subset of a8?

False

In [22]:
c8.isdisjoint(b8) # Are c8 and b8 disjoint sets? (no common elements)

True

In [23]:
c8.isdisjoint(a8) # Are c8 and a8 disjoint sets? (no common elements)

True

# DICTIONARY #

In [26]:
d = {} # This is an empty dictionary, not an empty set
print(type(d))
d = set() # This is an empty set
print(type(d))

<class 'dict'>
<class 'set'>

In [27]:
d = {1:'one', 2:'two', 3:'three', 4:'four'} 
# This is a dictionary with keys 1, 2, 3, 4 and values 'one', 'two', 'three', 'four'
# The keys are unique and the values can be duplicated
# The keys are immutable and the values can be mutable
# The keys can be of any immutable type (int, float, string, tuple) and the values can be of any type
# The keys are used to access the values in the dictionary

In [28]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [29]:
d.keys() 
# This returns a view object that displays a list of all the keys in the dictionary
# The view object is dynamic and will reflect any changes made to the dictionary

dict_keys([1, 2, 3, 4])

In [30]:
d.values()
# This returns a view object that displays a list of all the values in the dictionary
# The view object is dynamic and will reflect any changes made to the dictionary
#

dict_values(['one', 'two', 'three', 'four'])

In [31]:
d.items()
# This returns a view object that displays a list of all the key-value pairs in the dictionary
# The view object is dynamic and will reflect any changes made to the dictionary
# The key-value pairs are tuples of the form (key, value)
#

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [32]:
len(d)
# This returns the number of items in the dictionary

4

In [33]:
d[4]
# This returns the value associated with the key 4 in the dictionary
# The key is priority over the value
# If the key is not in the dictionary, it raises a KeyError

'four'

In [34]:
d# This returns the dictionary itself

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [35]:
d.get(1)
# This returns the value associated with the key 1 in the dictionary

'one'

In [36]:
d.get('one')
# This returns None because 'one' is not a key in the dictionary
# This is because the keys are priority over the values

In [37]:
d1 = d.copy()
# This creates a shallow copy of the dictionary d
# A shallow copy means that the new dictionary is a new object but the values are still references to the same objects

In [38]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [39]:
d1.pop(1)
# This removes the key-value pair with key 1 from the dictionary d1
# The value associated with the key 1 is returned

'one'

In [40]:
d1

{2: 'two', 3: 'three', 4: 'four'}

In [41]:
d1.popitem()
# This removes the last inserted key-value pair from the dictionary d1
# The key-value pair is returned as a tuple of the form (key, value)

(4, 'four')

In [42]:
d1

{2: 'two', 3: 'three'}

In [43]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [44]:
for i in d:
    print(i)
# This prints the keys in the dictionary d

1
2
3
4

In [45]:
for i in d:
    print(i,':', d[i]) 
# This prints the key-value pairs in the dictionary d
# This is the same as:
#for i in d.items():
#    print(i[0], ':', i[1])

1 : one
2 : two
3 : three
4 : four

In [47]:
for i in d.items():
    print(i[0], ':', i[1])

1 : one
2 : two
3 : three
4 : four

In [50]:
for i in d:
    print(i,':', d) 
# This prints the key-value pairs in the dictionary d

1 : {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
2 : {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
3 : {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
4 : {1: 'one', 2: 'two', 3: 'three', 4: 'four'}