IDE: Integrated Development Environment
   - Write, run and debug the code
   - There are for ex jupyter ide, spyder ide, vs code ide, etc

   Python interpreter and compiler
   - Compiler: run all the codes at once
   - Interpreter: run each code line by line

Python variable types
   - integer (int) - value with no decimals
   - float - with decimals
   - string - value with " |""| '''
   - bool - True or False
   - and complex - a + bj
   - Others are: set, list, dictionnary and tuple

In [1]:
a = 10
a

10

Checking the variable type:

In [2]:
type (a)

int

In [3]:
b = 19.4
b

19.4

In [4]:
type (b)

float

In [5]:
type(1 + 3j)

complex

In [6]:
type('prakashsenapati')

str

In [27]:
type([1, 2, 3])
# Square brackets can be used to access elements of the string

list

In [28]:
a = "Hello, World!"
a[1]

'e'

In [8]:
type({'name':'senapati'})

dict

In [9]:
type({9.8, 3.14, 2.7})

set

In [10]:
type(3 == 3)

bool

In [11]:
type((9.8, 3.14, 2.7))

tuple

Revision
print(3 + 2)   # addition(+)
print(3 - 2)   # subtraction(-)
print(3 * 2)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

In [12]:
3 + 2

5

In [13]:
3 - 2

1

In [14]:
3 * 2

6

In [16]:
3 / 2

1.5

In [17]:
3 ** 2

9

In [18]:
3 % 2

1

In [19]:
3 // 2

1

Strings
# Single line comment
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be  a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of python challenge"
print(sentence)

In [20]:
letter = 'p'
letter

'p'

In [21]:
len(letter)

1

In [22]:
greeting = 'hello world'
greeting

'hello world'

In [23]:
len(greeting)

11

In [26]:
sentence = 'I hope you are enjoying 30 days of python challenge'
print(sentence)
print(len(sentence))

I hope you are enjoying 30 days of python challenge
51

# Multiline String
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

In [27]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [28]:
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

# String Concatenation
first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) # Asabeneh Yetayeh

In [29]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name  +  space + last_name
full_name

'Asabeneh Yetayeh'

# Checking length of a string using len() builtin function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 15

In [30]:
print(len(first_name))
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

8
7
True
16

#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

Please note the use of print when there are more lines

In [32]:
language = 'Python'
a,b,c,d,e,f = language
print(a)
print(b)
print(c)
print(d)    
print(e)
print(f)

P
y
t
h
o
n

# Accessing characters in strings by index
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

In [33]:
language = 'Python'
first_letter = language[0]
print(first_letter)

P

In [34]:
second_letter = language[1]
print(second_letter)

y

In [35]:
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter)

n

# If we want to start from right end we can use negative indexing. -1 is the last index
language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

In [36]:
language = 'Python'
last_letter = language[-1]
print(last_letter)
second_last = language[-2]
print(second_last)

n
o

# Slicing

language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

In [37]:
language = 'Python'
first_three = language[0:3] 
last_three = language[3:6]
print(last_three)
# Another way
last_three = language[-3:]
print(last_three)  
last_three = language[3:]
print(last_three)

hon
hon
hon

# Skipping character while splitting Python strings
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

In [38]:
language = 'Python'
pto = language[0:6:2]
print(pto)

Pto

# Escape sequence
print('I hope every one enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

In [40]:
print('I hope every one is enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

I hope every one is enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

The list of escape characters is:
\' 	Single Quote 	
\\ 	Backslash 	
\n 	New Line 	
\r 	Carriage Return 	
\t 	Tab 	
\b 	Backspace 	
\f 	Form Feed 	
\ooo 	Octal value 	
\xhh 	Hex value

# String Methods # 
- 1 # capitalize(): Converts the first character of the string to Capital Letter
- 2 # count(): returns occurrences of substring in string, count(substring, start=.., end=..
- 3 # endswith(): Checks if a string ends with a specified ending
- 4 # expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument
- 5 # find(): Returns the index of first occurrence of substring
- 6 # format()	formats string into nicer output
- 7 # index(): Returns the index of substring
- 8 # isalnum(): Checks alphanumeric character
- 9 # isalpha(): Checks if all characters are alphabets
- 10 # isdecimal(): Checks Decimal Characters
- 11 # isdigit(): Checks Digit Characters
- 12 # isdecimal():Checks decimal characters
- 13 # isidentifier():Checks for valid identifier means it check if a string is a valid variable name
- 14 # islower():Checks if all alphabets in a string are lowercase
- 15 # isupper(): returns if all characters are uppercase characters
- 16 # isnumeric():Checks numeric characters
- 17 # join(): Returns a concatenated string
- 18 # strip(): Removes both leading and trailing characters
- 19 # replace(): Replaces substring inside
- 20 # split():Splits String from Left
- 21 # title(): Returns a Title Cased String
- 22 # swapcase(): Checks if String Starts with the Specified String
- 23 # startswith(): Checks if String Starts with the Specified String

Now let us practice one by one

In [41]:
# Capitalize(): Converts the first character the string to Capital Letter
challenge = 'thirty days of python'
print(challenge.capitalize())

Thirty days of python

In [43]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'thirty days of python'
print(challenge.count('y')) 
print(challenge.count('y', 7, 14)) 
print(challenge.count('th')) 
print(challenge.count('t'))

3
1
2
3

In [44]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'
print(challenge.endswith('on'))
print(challenge.endswith('tion'))

True
False

In [45]:
challenge.endswith('on')

True

In [46]:
challenge.endswith('tion')

False

In [1]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument
challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())
print(challenge.expandtabs(10))

thirty  days    of      python
thirty    days      of        python

In [2]:
# find(): Returns the index of first occurrence of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  
print(challenge.find('th'))

5
0

In [3]:
# format()	formats string into nicer output    
first_name = 'Asabeneh'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence)

I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

In [4]:
radius = 10
pi = 3.14
area = pi # radius ## 2
result = 'The area of circle with {} is {}'.format(str(radius), str(area))
print(result) # The area of circle with 10 is 314.0

The area of circle with 10 is 3.14

In [5]:
# index(): Returns the index of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [6]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [8]:
# isalpha(): Checks if all characters are alphabets
challenge = 'thirty days of python'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
False

In [9]:
# isdecimal(): Checks Decimal Characters

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [11]:
# isdigit(): Checks Digit Characters

challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True

False
True

In [12]:
# isdecimal():Checks decimal characters

num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal()) # False

True
False

In [13]:
# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [14]:
# islower():Checks if all alphabets in a string are lowercase

challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [15]:
# isupper(): returns if all characters are uppercase characters

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [16]:
# isnumeric():Checks numeric characters

num = '10'
print(num.isnumeric())      # True
print('ten'.isnumeric())    # False

True
False

In [17]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML#, CSS#, JavaScript#, React

In [18]:
# strip(): Removes both leading and trailing characters

challenge = ' thirty days of python '
print(challenge.strip('y')) # 5

 thirty days of python

In [19]:
# replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [20]:
# split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [21]:
# title(): Returns a Title Cased String

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [22]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [23]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In summary,
- capitalize() Converts the first character to upper case
- casefold() Converts string into lower case
- center()	          Returns a centered string
- count()	        Returns the number of times a specified value occurs in a string
- encode()	    Returns an encoded version of the string
- endswith()	    Returns true if the string ends with the specified value
- expandtabs()	Sets the tab size of the string
- find()	        Searches the string for a specified value and returns the position of where it was found
- format()	    Formats specified values in a string
- format_map()	Formats specified values in a string
- index()	        Searches the string for a specified value and returns the position of where it was found
- isalnum()	    Returns True if all characters in the string are alphanumeric
- isalpha()	    Returns True if all characters in the string are in the alphabet
- isascii()	    Returns True if all characters in the string are ascii characters
- isdecimal()	    Returns True if all characters in the string are decimals
- isdigit()	    Returns True if all characters in the string are digits
- isidentifier()	Returns True if the string is an identifier
- islower()	    Returns True if all characters in the string are lower case
- isnumeric()	    Returns True if all characters in the string are numeric
- isprintable()	Returns True if all characters in the string are printable
- isspace()	    Returns True if all characters in the string are whitespaces
- istitle() 	    Returns True if the string follows the rules of a title
- isupper()	    Returns True if all characters in the string are upper case
- join()	        Joins the elements of an iterable to the end of the string
- ljust()	        Returns a left justified version of the string
- lower()	        Converts a string into lower case
- lstrip()	    Returns a left trim version of the string
- maketrans()	    Returns a translation table to be used in translations
- partition()	    Returns a tuple where the string is parted into three parts
- replace()	    Returns a string where a specified value is replaced with a specified value
- rfind()	        Searches the string for a specified value and returns the last position of where it was found
- rindex()	    Searches the string for a specified value and returns the last position of where it was found
- rjust()	        Returns a right justified version of the string
- rpartition()	Returns a tuple where the string is parted into three parts
- rsplit()	    Splits the string at the specified separator, and returns a list
- rstrip()	    Returns a right trim version of the string
- split()	        Splits the string at the specified separator, and returns a list
- splitlines()	Splits the string at line breaks and returns a list
- startswith()	Returns true if the string starts with the specified value
- strip()	        Returns a trimmed version of the string
- swapcase()	    Swaps cases, lower case becomes upper case and vice versa
- title()	        Converts the first character of each word to upper case
- translate()	    Returns a translated string
- upper()	        Converts a string into upper case
- zfill()	        Fills the string with a specified number of 0 values at the beginning

In [31]:
olive = 'his name known by the public'
print(olive.upper())
print(olive.title())
print (olive.capitalize())

HIS NAME KNOWN BY THE PUBLIC
His Name Known By The Public
His name known by the public

Variables in Python

In [24]:
# Variables in Python

first_name = 'PRAKASH'
last_name = 'SENAPATI'
country = 'HYD'
city = 'TELENGANA'
age = 40087
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Asabeneh', 
    'lastname':'Yetayeh', 
    'country':'Finland',
    'city':'Helsinki'
    }

In [25]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: PRAKASH
First name length: 7
Last name:  SENAPATI
Last name length:  8
Country:  HYD
City:  TELENGANA
Age:  40087
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [26]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'prakash', 'senapati', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

prakash senapati Helsink 250 True
First name: prakash
Last name:  senapati
Country:  Helsink
Age:  250
Married:  True

In [4]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'