Python Practice: Variables

In [1]:
va = 9
va

9

In [2]:
id(va)

140724089727672

In [3]:
1nit = 18
1nit

SyntaxError: invalid decimal literal (1479807941.py, line 1)

In [4]:
nit1 = 18
nit1

18

In [5]:
nit2 = 19
NIT2

NameError: name 'NIT2' is not defined

In [6]:
nit2

19

In [7]:
v$ = 90
v$

SyntaxError: invalid syntax (434845991.py, line 1)

In [8]:
v_ = 90
v_

90

This is about variable creation.
1. Never starts with digit but ends with digit
2. Case sensitive
3. Special character is not allowed except _
4. key words or reserved words never be declared as variables. They are in total 35.
The following code allows to enlist them and their number. Note capital and small letters for some key words

In [1]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [10]:
len(keyword.kwlist)

35

If the key word is used as variable, there is error

In [11]:
for = 67
for

SyntaxError: invalid syntax (1907045559.py, line 1)

But any small change will give output

In [12]:
For = 67
For

67

In [13]:
def = 90
def

SyntaxError: invalid syntax (2104124504.py, line 1)

In [14]:
Def = 90
Def

90

In [15]:
3a = 89
3a

SyntaxError: invalid decimal literal (2008491659.py, line 1)

In [16]:
True = 8

SyntaxError: cannot assign to True (361145575.py, line 1)

In [17]:
true = 8
true

8

In [18]:
a = 5
b = 6
c = 7

a
b
c

7

To get the output of the three variables, use print

In [19]:
a = 5
b = 6
c = 7

print (a)
print (b)
print (c)

5
6
7

And to know the version of python, use the following code:

In [20]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [21]:
import_1 = 89
import_1

89

Here it is possible to make any small change on the key word to create a variable.

Now let us go stepwise to practice with variables

# 1 Storing and printing a variable

In [22]:
a = 10
a

10

# 2 Using variables in expressions

In [24]:
a = 5
b = 6   
result = a + b
result

11

# 3 Changing the value of the variable: initial value is 50 and new value is 100

In [25]:
score = 50
score

50

In [26]:
score = 100
score

100

# 4 Concatenating strings: 
First you assign values to variables,then concatenate the strings and store a new variable.

In [27]:
# assigning values to variables
first_name = "John" 
last_name = "Doe"
# concatenate the strings and store a new variable
full_name = first_name + " " + last_name
full_name

'John Doe'

# 5 Using variables in a calculation

In [28]:
# assigning values to variables
length = 10
width = 5
# calculate the area of the rectangle
area = length * width
area

50

# 6 Reassigning values to variables

In [29]:
# Python allows to reassign a variable to a new value at any time
x = 10 # initial value of x
x

10

In [30]:
# Reassigning a new value to x
x = 20 # new value of x
x

20