### SET: PRACTICE ###

In [ ]:
s = {} # dictionary
s

{}

In [2]:
type(s) # check the type of s

dict

In [ ]:
s1 = set() # empty set. 
type(s1) # check the type of s1
# Set and dictionary are similar in Python.
# They use hashing to store the data.
# {} is used for both dictionary and set.
# To change the empty dictionary to set, we need to use the set() function.
# Set is a collection of unordered, unique items.
# Set is mutable, unordered collection of unique items.

set

In [ ]:
s1.add(10) # add an element to the set
s1

{10}

In [ ]:
s1.add(20) # add another element to the set
s1.add('nit') # add a string to the set
s1.add(True) # add a boolean to the set
s1.add(1+2j) # add a complex number to the set
s1.add(3.2) # add a float to the set

In [6]:
s1

{(1+2j), 10, 20, 3.2, True, 'nit'}

In [7]:
s2 = set()
s2

set()

In [8]:
s2.add(100)
s2.add(10)
s2.add(200)
s2.add(9)
s2

{9, 10, 100, 200}

In [9]:
s3 = set()
s3

set()

In [10]:
s3.add('z')
s3.add('a')
s3.add('m')
s3.add('b')
s3

{'a', 'b', 'm', 'z'}

In [11]:
print(s1)
print(s2)
print(s3)

{True, 3.2, (1+2j), 10, 'nit', 20}
{200, 9, 10, 100}
{'z', 'b', 'm', 'a'}

In [15]:
len(s3) # length of the set

4

In [16]:
print(len(s3)) # length of the set

4

In [17]:
s3

{'a', 'b', 'm', 'z'}

In [18]:
s3[0] # set is unordered, so we cannot access the elements by index

TypeError: 'set' object is not subscriptable

In [19]:
s3[:] # set is unordered, so we cannot slice the set

TypeError: 'set' object is not subscriptable

In [20]:
s4 = s3.copy() # copy the set
s4

{'a', 'b', 'm', 'z'}

In [21]:
s3

{'a', 'b', 'm', 'z'}

In [22]:
s3 == s4 # check if the two sets are equal

True

In [23]:
s4

{'a', 'b', 'm', 'z'}

In [24]:
s4.clear() # clear the set

In [25]:
s4

set()

In [26]:
del s4 # delete the set

In [27]:
s4

NameError: name 's4' is not defined

In [28]:
s4 = s2.copy()

In [29]:
s4

{9, 10, 100, 200}

In [30]:
s4.pop() # remove an arbitrary element from the set

200

In [31]:
s4

{9, 10, 100}

In [32]:
s4.pop() # remove an arbitrary element from the set
s4

{10, 100}

In [33]:
s3

{'a', 'b', 'm', 'z'}

In [34]:
s1

{(1+2j), 10, 20, 3.2, True, 'nit'}

In [35]:
s1.pop(0) # set is unordered, so we cannot access the elements by index

TypeError: set.pop() takes no arguments (1 given)

In [36]:
s1

{(1+2j), 10, 20, 3.2, True, 'nit'}

In [37]:
s1.remove((1+2j)) # remove an element from the set

In [38]:
s1

{10, 20, 3.2, True, 'nit'}

In [39]:
for i in s1:
    print(i) # iterate through the set

True
3.2
10
nit
20

In [40]:
for i in s4:
    print(i) # iterate through the set

10
100

In [41]:
for i in enumerate(s4):
    print(i) # iterate through the set with index

(0, 10)
(1, 100)

 ### SET OPERATIONS ###

In [42]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [43]:
A | B # union of two sets

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
B.union(C) # union of two sets

{4, 5, 6, 7, 8, 9, 10}

In [45]:
A | B == A.union(B) # union of two sets

True

In [46]:
A.union(B,C) # union of three sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:
A | B | C # union of three sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [48]:
A.union(B,C) == A | B | C # union of three sets

True

In [ ]:
C | B | A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
C

{8, 9, 10}

In [51]:
C.update(B) # update the set with another set

In [52]:
C

{4, 5, 6, 7, 8, 9, 10}

In [53]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8, 9, 10}

In [54]:
A & B # intersection of two sets

{4, 5}

In [55]:
B.intersection(C) # intersection of two sets

{4, 5, 6, 7, 8}

In [56]:
A & B & C # intersection of three sets

{4, 5}

In [57]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8, 9, 10}

In [58]:
A - B # difference of two sets

{1, 2, 3}

In [59]:
B - C # difference of two sets

set()

In [60]:
C - B

{9, 10}

In [61]:
C.difference(A) # difference of two sets

{6, 7, 8, 9, 10}

In [62]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8, 9, 10}